# Base de datos (Docker local — puerto 5433)
DATABASE_URL="postgresql://restaurante:restaurante123@localhost:5433/restaurante_pos?schema=public"

# Backend API
API_PORT=3001
NODE_ENV=development
JWT_SECRET="genera-un-secreto-aleatorio-de-al-menos-32-caracteres"
JWT_EXPIRES_IN="8h"
RESTAURANT_TIMEZONE="America/La_Paz"
CORS_ORIGIN="http://localhost:3000"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:3001/api/v1"

# Imágenes subidas al servidor (API)
API_PUBLIC_URL="http://localhost:3001"
