DATABASE_URL="postgresql://restaurante:restaurante123@localhost:5433/restaurante_pos?schema=public"
API_PORT=3001
NODE_ENV=development
CORS_ORIGIN="http://localhost:3000"
JWT_SECRET="genera-un-secreto-aleatorio-de-al-menos-32-caracteres"
JWT_EXPIRES_IN="8h"
RESTAURANT_TIMEZONE="America/La_Paz"
API_PUBLIC_URL="http://localhost:3001"
# UPLOAD_DIR="uploads"

# Producción (ejemplo):
# NODE_ENV=production
# CORS_ORIGIN="https://tu-dominio.com"
# DATABASE_URL="postgresql://user:pass@host:5432/restaurante_pos?schema=public"
